.container {
  display: flex;
  height: 100vh; /* Mantém a página ocupando toda a altura */
  background-color: #f9f9f9;
  position: relative; /* Certifique-se de que isso não interfira no modal */
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.analiseContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1.25rem;
}

.analiseFilters {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem 1rem;
  margin: 0 0.625rem;
}

.updateFilter {
  padding: 0.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.updateFilter i {
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
}

.updateFilter i:hover {
  cursor: pointer;
  background-color: #d1c4e962;
  color: #4510a3;
}
